{% extends 'base.html.twig'%}
{% block body %}
{% for annonce in annonces %}
{% for enchere in encheres %}
{% if annonce.id == enchere.annonce.id %}
{% if enchere.etat == 'terminee' %}
{% if enchere.enchereur == user %}

{{ annonce.title }}<p></p>
<a href="{{ path('site_msg', {'id': annonce.id})}}" class="btn btn-primary">chatter</a>
{% endif %}
{% if annonce.auteur.id == user %}
{{ annonce.title }}<p></p>
<a href="{{ path('site_msg', {'id': annonce.id})}}" class="btn btn-primary">chatter</a>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}