{% extends 'base.html.twig'%}
{% block body %}
{% for message in messages %}
<p>Auteur du message: {{ message.msgauteur }} <br> {{ message.msgcontenu }}
{% endfor %}
{{ form(formMsg) }}
{% endblock %}