{% extends 'base.html.twig'%}
{% block body %}

    <annonces>
        {% if annonce is empty %}
        {% else %}
        <h2>{{ annonce.title }}</h2>
        <p>{% for enchere in encheres %} {% if annonce.id == enchere.annonce.id %} Prix Immediat: {{enchere.prixImmediat}} Prix de Départ: {{enchere.prixDepart}} Fin de l'enchére le {{ enchere.datefin | date ('d/m/Y') }} {% endif %} {% endfor %}</p>
        <div class="metadata">Mis en ligne le {{ annonce.createdAt | date ('d/m/Y') }} à{{ annonce.createdAt | date ('H:i') }} dans la catégorie {{ annonce.categorie }} </div>
        <div class="content">
        <img src="{{ annonce.image }}" alt="">
        <p> {{ annonce.content }}
        </p>
        <p>
        </p> {% if annonce.auteur.id != user.id %} 
        <p> 
        </p>
        </div>
        </annonces>
        <body>
         {{ form(formnb1) }}
         </body>
         {% endif %}
         {% endif %}

{% endblock %}